#timeline {
    
    overflow: hidden;
    width: 100%;
    
}

#timeline div {
    
    height: 231px;
}

#timeline div .date {
    
    border-right: 1px rgba(179, 175, 175, 0.4) solid;
    text-align: right
}

#timeline div .date:before {
    
    content: '';
    font-family: 'Julius Sans One', sans-serif;
    width: 12px;
    height: 12px;
    background: #e5e5d1;
    position: absolute;
    left: 99.2%;
    top: 88px;
    border-radius: 100%;
    cursor: pointer
}

#timeline div.active .date::before {
    
    content: '';
    font-family: 'Julius Sans One', sans-serif;
    width: 20px;
    height: 20px;
    background: #168039;
    position: absolute;
    left: 98.7%;
    top: 98px;
    border-radius: 100%
}

#timeline div .date h2 {
    
    font-family: 'Julius Sans One', sans-serif;
    margin: 72px 28px 0;
    font-size: 45px;
    font-weight: 600;
    cursor: pointer
}

#timeline div.active .date h2 {
    
    font-family: 'Julius Sans One', sans-serif;
    font-size: 65px;
    color: #168039;
}

#timeline div .text p {
    
    margin: 85px 50px 0;
    width: 50%;
    display: none
}


#timeline div.active .text p {
    
    display: inherit
}

p {
    
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18px;
    text-align: justify;
}

#hid1, #hid2 {
    
    visibility: hidden; !important
}

h1 {
    
    font-family: 'Julius Sans One', sans-serif;
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
   
}

#nav {
    
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    background-color: ghostwhite;
    justify-content: center;
}

#mod1 {
    
    font-family: 'Julius Sans One', sans-serif;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    z-index: 9999;
    padding: 15px 15px 15px 10px;
    background: white;
    border-radius: 50px 50px 50px 50px;
    
}

#p2010 {
    
    font-size: 15px;
}

h5 {
   
    font-family: 'Julius Sans One', sans-serif;
}